<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>쿠키 팔아요~</h1>
  <input type="checkbox" name="check" id="check" />
  <label for="check">ALERT 하루동안 보지 않기</label>
  <script>
    if (!document.cookie) alert('쿠키 팔아요!');

    const checkBox = document.getElementById('check');
    checkBox.addEventListener('click', async () => {
      if (checkBox.checked) {
        const res = await fetch(`/cookie/cook`, {
          method: 'GET',
          Headers: {
            'Content-type': 'application/json',
          }
        });
        console.log(res);
        //시간이 걸리는 작업이기 때문에 await 걸어줘야함
        const msg = await res.json()
      }


    });
  </script>
</body>

</html>

<!-- checkBox.addEventListener('click', () => {
  if (checkBox.checked) {
    fetch(`/cookie/cook`, {
      method: 'GET',
      Headers: {
        'Content-type': 'application/json',
      }
    }).then((res) => {
      console.log('Response', res);
      return res.json();
    }).then((msg) => {
      console.log('message', msg);
    })
  } -->